{% extends 'base.html' %}
{% load static %}

{% block title %}Home - ZichKoding{% endblock %}

{% block content %}
    <div class="container">
        <div class="mission-statement my-4">
            <h2>Mission Statement</h2>
            <p>{{ mission_statement.mission_statement }}</p>
        </div>
        <div class="projects my-4">
            <h2>Projects</h2>
            {% for project in projects %}
                <p>{{ project.title }}</p>
            {% endfor %}
        </div>
        <div class="summary my-4">
            <h2>Summary</h2>
            <p>{{ summary.content }}</p>
        </div>
    </div>
{% endblock %}
