{% extends 'base.html' %}
{% load static %}

{% block title %}Home - ZichKoding{% endblock %}

{% block content %}
    <div class="container">
        <div class="mission-statement my-4">
            <h2>Mission Statement</h2>
            <p>{{ mission_statement.mission_statement }}</p>
        </div>
        <div class="projects my-4">
            <h2>Projects</h2>
            <div class="row">
                {% for project in projects %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <a href="{% url 'get_project' project.slug %}">
                                <img src="{{ project.image.url }}" class="card-img-top img-fluid" alt="{{ project.title }}">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{% url 'get_project' project.slug %}" class="text-decoration-none">
                                        {{ project.title }}
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="summary my-4">
            <h2>Summary</h2>
            <p>{{ summary.content }}</p>
        </div>
    </div>
{% endblock %}
