venv/

# Add Create Github Repo script
create_github_repo.sh

# Add all __pycache__ directories
__pycache__/
*/__pycache__/

# Add db.sqlite3
db.sqlite3
*/db.sqlite3

# Add all migrations folders
*/migrations/
migrations/

# Add .env file
.env
*/.env

# DS_Store files
.DS_Store
*/.DS_Store

# Backup files
backup.json
*/backup.json
./backup.json
/.backup.json