.nav-hidden {
    transform: translateY(-100%); /* Move the navbar out of view */
    transition: transform 0.3s ease-in-out;
}

.nav-visible {
    transform: translateY(0); /* Make the navbar fully visible */
    transition: transform 0.3s ease-in-out;
}

/* 768 px is the smallest before using the .custom-shadow */

@media (max-width: 768px) {
    .custom-shadow {
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5); /* Adjust values for size and blur */
        margin: 1rem 0; /* Adjust the margin to fit the shadow */
        border-radius: 3rem;
        padding: 1rem;
    }
}